@font-face {
    font-family: 'Assistant';
    src: url('font/Assistant-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('font/Assistant-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Assistant';
    src: url('font/Assistant-Light.ttf');
    font-style: normal;
    font-weight: lighter;
}

$mainsize: black;

html {
    font-size: 23.9px;

}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Assistant", sans-serif;
    margin: 0px auto;
    width: 1920px;
}

.block {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.bleft {
    width: 643px;
    float: left;
    margin-left: 94px;
    margin-top: 136px;
}

.bright {
    width: 982px;
    float: right;
    margin-right: 77px;
    margin-top: 118px;
}

/* block headers with line/icon */

.block-head {
    color: #3d6cb0;
    font-size: 3.95em;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.block-head:before {
    content: "";
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    max-width: 100%;
    background-size: contain;
}

.block-head:after {
    content: "";
    border-bottom: 10px solid #3d6cb0;
    align-items: center;
    flex-grow: 1;
    margin-left: 12px;
}

.profile__head {
    padding-top: 40px;
    padding-left: 130px;
    position: relative;

}

.profile__head::before {
    background-image: url("img/PROFILE%20.png");
    position: absolute;
    top: 31px;
    left: 1px;
    font-size: 0.9em;
}

.contact__head:before {
    background-image: url("img/PHONE.png");

    position: absolute;
    top: -5px;
    left: 0px;
    font-size: 0.88em;
}

.skills__head:before {
    background-image: url("img/SKILLS.png");

    position: absolute;
    top: -6px;
    left: 1px;
    font-size: .88em;
}



.education__head:before {
    background-image: url(img/EDUCATION%20.png);
    position: absolute;
    top: 0px;
    left: -8px;
    font-size: 0.9em;
}

.jobs__head:before {
    background-image: url(img/EXPERIENCE%20.png);
    position: absolute;
    top: -14px;
    left: -9px;
    font-size: 0.93em;
}

.soft__head:before {
    background-image: url(img/SOFTWARE%20.png);
    position: absolute;
    top: -14px;
    left: -8px;
    font-size: 0.9em;
}

/* Prson section block */

.photo {
    background-color: #3d6cb0;
    width: 356px;
    height: 356px;
    box-shadow: inset #ffffff 0 0 0 20px, #3d6cb0 0 0 0 2px;
    border-radius: 50%;
    margin: 0% auto;
    margin-left: 156px;
    margin-top: 2px;
}

.info p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 70px;
}

.info {
    margin-top: 50px;
}

.name {
    font-size: 5.1em;
    font-weight: 400 !important;
    margin-left: 0px;
}

.surname {
    font-size: 6em;
    margin-left: 4px;
    margin-top: 11px;
}

.occupation {
    font-size: 2.33em;
    margin-left: 15px;
    margin-top: 14px;
}

p.bio {
    font-size: 1.5em;
    padding-top: 33px;
    line-height: 29px;
    letter-spacing: 0px;
    word-spacing: 0px;
}

.profile {
    margin-top: 77px;
}

/* Contact section block*/

.contact {
    margin-top: 75px;
}

.contact li {
    list-style: none;
}

.contact-data__head {
    color: #3d6cb0;
    font-size: 2em;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 22px;
}

.contact-data_content {
    font-size: 2em;
    display: inline-block;
    margin-left: 65px;
}

.contact-data__head li,
.contact-data_content li {
    margin-top: 42px;
}

.block-head.contact__head {
    padding-left: 132px;
    position: relative;
    padding-top: 5px;
}

/* Skillst section block*/

.skills {
    margin-top: 80px;
}

ul.skill-progress_bar {
    list-style: none;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    margin-bottom: 27px;
}


.skill-progress_bars {
    display: inline-block;
    text-align: center;
    margin: 0 10.3%;
    margin-top: 49px;
}


.skill_names {
    font-size: 2.5em;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 13px;
    margin-left: 8px;
}

.skill-progress_bar li {
    background: #3d6cb0;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin-left: 8px;
    margin-right: 8px;
}

.stop ~ li {
    background: #e6e6e6;
}

.block-head.skills__head {
    position: relative;
    padding-left: 128px;
    padding-top: 3px;
}

/* Education section block*/

.education-items {
    margin-top: 54px;
    margin-left: 11px;
}

.diploma {
    font-size: 2.5em;
    text-transform: uppercase;
    color: #3d6cb0;
    font-weight: bold;
    position: relative;
    padding-left: 62px;
}

.diploma:before {
    content: "";
    background-color: black;
    width: 31px;
    height: 31px;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    left: -1px;
}

.university {
    font-size: 2.5em;
    text-transform: uppercase;
    word-break: keep-all;
    font-weight: normal;
    margin-left: 60px;
    margin-top: 0px;
}

.diploma span,
.university span {
    font-size: 1em;
    color: black;
    font-weight: normal;
    text-transform: none;
    margin-left: 22px;
}

.description {
    font-size: 1.49em;
    margin-left: 64px;
    padding-top: 7px;
    padding-bottom: 14px;
    line-height: 29px;
}

.block-head.education__head {
    position: relative;
    padding-left: 136px;
    padding-top: 9px;
}

/*jobs section block*/

.block-head.jobs__head {
    position: relative;
    padding-left: 137px;
    margin-top: -7px;
}

.jobs {
    margin-top: 85px;
}

.job__name {
    color: black;
}

.job-item {
    margin-left: 10px;
    margin-top: 77px;
}

.job__name span {
    margin-left: 33px;
}

/*software section block*/

.block-head.soft__head {
    position: relative;
    padding-left: 137px;
}

.programs {
    margin-top: 81px;
}

.program {
    font-size: 2.5em;
    text-transform: uppercase;
    width: 428px;
    border-bottom: 34px solid transparent;

}

.ps {
    border-image: linear-gradient(to right, #3d6cb0 90%, #e6e6e6 90%) 1 100%;
    border-image-slice: 1;
}

.illustrator {
    border-image: linear-gradient(to right, #3d6cb0 70%, #e6e6e6 70%) 1 100%;
    border-image-slice: 1;
}

.idesign {
    border-image: linear-gradient(to right, #3d6cb0 55%, #e6e6e6 55%) 1 100%;
    border-image-slice: 1;
}

.drewmweaver {
    border-image: linear-gradient(to right, #3d6cb0 75%, #e6e6e6 75%) 1 100%;
    border-image-slice: 1;
}

.ae {
    border-image: linear-gradient(to right, #3d6cb0 65%, #e6e6e6 65%) 1 100%;
    border-image-slice: 1;
}

.htmlcss {
    border-image: linear-gradient(to right, #3d6cb0 85%, #e6e6e6 85%) 1 100%;
    border-image-slice: 1;
}

.drewmweaver,
.ps {

    margin-top: 48px;
    margin-left: 1px;
    padding-bottom: 20px;
}

.ae,
.illustrator {

    margin-top: 31px;
    padding-bottom: 17px;
}

.htmlcss,
.idesign {
    margin-top: 31px;
    padding-bottom: 13px;
}

.soft_left {
    float: left;
    margin-left: 1px;
}


.soft_right {
    float: right;
    margin-right: 13px;
}





@media (max-width:720px) {
    * {
        padding: 0 !important;
    }
    body {
        width: 100%;
        font-size: 16px;


    }
    .block {
        width: 100%;
        margin: 0;

        float: left;
    }
    .bleft,
    bright {
        width: 100%;
        margin: 0 0;

        float: left;
    }
    .photo {
        margin: 0 auto;

    }

    p.bio {
        font-size: 1em;
        margin: 0 5%;
        line-height: 17px;
        margin-bottom: 10%;

    }

    .contact-data__head,
    .contact-data_content {
        font-size: 1.5em;
    }
    .skill-progress_bars {
        width: 90%;
        margin: 15% 5%;

    }
    .skill_names {
        font-size: 2em;
    }

    .skill-progress_bar li {
        background: #3d6cb0;
        border-radius: 50%;
        width: 24px;
        height: 24px;
        margin: 0;
    }
    .skill-progress_bar {
        margin: 0 10%;
    }
    .profile__head::before {
        font-size: 0.8em;
        padding: 27px 0px;
        margin: 0 0;
        position: relative;
    }
    .profile__head {
        font-size: 3em;
    }

    .contact-data {
        width: 85%;
        margin: 0;
        margin-left: 15%;
        margin-bottom: 5%;
    }

    .contact__head:before {
        font-size: 0.8em;

        position: relative;
        top: 0;

    }
    .contact__head {
        font-size: 3em;
    }

    .skills__head:before {
        font-size: 0.8em;
        position: relative;
        top: 0;
    }
    .skills__head {

        font-size: 3em;
    }
    .education__head:before {
        font-size: 0.8em;
        position: relative;
        margin-left: 10px;

    }
    .education__head {

        font-size: 3em;
    }

    .jobs__head:before {
        font-size: 0.8em;
        position: relative;
        top: 0;
    }
    .jobs__head {
        margin-left: 10px;
        font-size: 3em;
    }

    .soft__head:before {
        font-size: 0.8em;
        position: relative;
        top: 0;
    }
    .soft__head {
        margin-left: 10px;
        font-size: 3em;
    }
    .contact-data {
        padding: 0 10%;
    }
    .diploma span {
        font-size: .9em;
        display: inline-block;
        margin-left: 55px
    }
    .diploma {
        font-size: 2, 5em;
        float: left;

    }
    .diploma:before {
        position: relative;
        top: 0;
        margin-right: 25px;
    }
    .description {
        font-size: 1.5em;
    }
    .soft_left,
    .soft_right {
        float: left;
        margin: 0 5%;
        width: 90%;
    }
    .soft_right {
        margin-bottom: 10%;
    }
    .program {
        width: 100%;
    }

}
