@font-face {
    font-family: 'Assistant';
    src: url('font/Assistant-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Assistant';
    src: url('font/Assistant-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Assistant';
    src: url('font/Assistant-Light.ttf');
    font-style: normal;
    font-weight: lighter;
}

html {
    font-size: 23.9px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Assistant", sans-serif;
    margin: 0px auto;
    width: 1920px;
}

.block {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.bleft {
    width: 643px;
    float: left;
    margin-left: 94px;
    margin-top: 136px;
}

.bright {
    width: 982px;
    float: right;
    margin-right: 77px;
    margin-top: 118px;
}

/* block headers with line/icon */

.block-head {
    color: #3d6cb0;
    font-size: 2.666em;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.block-head:before {
    content: "";
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    max-width: 100%;
    background-size: contain;
}

.block-head:after {
    content: "";
    border-bottom: 10px solid #3d6cb0;
    align-items: center;
    flex-grow: 1;
}

.profile__head::before {
    background-image: url("img/PROFILE%20.png");
}

.contact__head:before {
    background-image: url("img/PHONE.png");
}

.skills__head:before {
    background-image: url("img/SKILLS.png");
}

.education__head:before {
    background-image: url("img/EDUCATION%20.png");
}

.jobs__head:before {
    background-image: url("img/EXPERIENCE%20.png");
}

.soft__head:before {
    background-image: url("img/SOFTWARE%20.png")
}

/* Prson section block */

.photo {
    background-color: #3d6cb0;
    width: 360px;
    height: 360px;
    box-shadow: inset #ffffff 0 0 0 20px, #3d6cb0 0 0 0 2px;
    border-radius: 50%;
    margin: 0% auto;
}

.info p {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 70px;
}

.info {
    margin-top: 50px;
}

.name {
    font-size: 3.3849em;
    font-weight: 300 !important;
}

.surname {
    font-size: 3.9991em;
}

.occupation {
    font-size: 1, 6188em;
}

.profile {
    margin-top: 77px;
}

/* Contact section block*/

.contact {
    margin-top: 75px;
}

.contact li {
    list-style: none;
}

.contact-data__head {
    color: #3d6cb0;
    font-size: 1.333em;
    font-weight: bold;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 5px;
}

.contact-data_content {
    font-size: 1.333em;
    display: inline-block;
    margin-left: 65px;
}

.contact-data__head li, .contact-data_content li {
    margin-top: 42px;
}

/* Skillst section block*/

.skills {
    margin-top: 80px;
}

ul.skill-progress_bar {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
}

.skill-progress_bars {
    display: inline-block;
    text-align: center;
    margin: 0 10%;
}

.skill_names {
    font-size: 1.665em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: 10px;
}

.skill-progress_bar li {
    background: #3d6cb0;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    margin: 0 7px;
}

.stop~li {
    background: #e6e6e6;
}

/* Education section block*/

.diploma {
    font-size: 1.665em;
    text-transform: uppercase;
    color: #3d6cb0;
    font-weight: bold;
}

.diploma:before {
    content: "";
    background-color: black;
    width: 31px;
    height: 31px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 30px;
}

.university {
    font-size: 1.665em;
    text-transform: uppercase;
    word-break: keep-all;
    font-weight: bold;
    margin-left: 65px;
}

.diploma span, .university span {
    font-size: 1em;
    color: black;
    font-weight: normal;
    text-transform: none;
}

.description {
    font-size: 1em;
    margin-left: 67px;
    margin-top: 6px;
    margin-bottom: 11px;
}

/*jobs section block*/

.jobs {
    margin-top: 85px;
}

.job__name {
    color: black;
}

/*software section block*/

.programs {
    margin-top: 81px;
}

.program {
    font-size: 1.665em;
    text-transform: uppercase;
    width: 428px;
    border-bottom: 34px solid transparent;
    margin-top: 45px;
    padding-bottom: 17px;
}

.ps {
    border-image: linear-gradient(to right, #3d6cb0 90%, #e6e6e6 90%) 1 100%;
    border-image-slice: 1;
}

.illustrator {
    border-image: linear-gradient(to right, #3d6cb0 70%, #e6e6e6 70%) 1 100%;
    border-image-slice: 1;
}

.idesign {
    border-image: linear-gradient(to right, #3d6cb0 55%, #e6e6e6 55%) 1 100%;
    border-image-slice: 1;
}

.drewmweaver {
    border-image: linear-gradient(to right, #3d6cb0 75%, #e6e6e6 75%) 1 100%;
    border-image-slice: 1;
}

.ae {
    border-image: linear-gradient(to right, #3d6cb0 65%, #e6e6e6 65%) 1 100%;
    border-image-slice: 1;
}

.htmlcss {
    border-image: linear-gradient(to right, #3d6cb0 85%, #e6e6e6 85%) 1 100%;
    border-image-slice: 1;
}

.soft_left {
    
    float: left;
}

.soft_right {
    
    float: right;
}

@media (max-width: 720px) {
    body {
        width: 100%;
        font-size: 16px;
    }
    .bleft, .bright, .soft_left, .soft_right {
        width: 100%;
        margin: 0;
        float: left;
    }
    .soft_left, .soft_right {
        margin: 0 7%;
    }
    .photo {
        width: 200px;
        height: 200px;
    }
    .skill-progress_bars {
        width: 100%;
        margin: 0;
    }
    .skill-progress_bar li {
        width: 20px;
        height: 20px;
        margin: 0 0;
    }
    ul.skill-progress_bar {
        margin: 0 15%;
    }
    .block-head {
        width: 100%;
    }
    .program{
        margin: 0 20px;
        border-width: 30px;
        width: 80%
    }
}

@media (max-width: 320px) {
    .skill-progress_bars {
        width: 100%;
        margin: 0;
    }
    .skill-progress_bar li {
        width: 15px;
        height: 15px;
        margin: 0 0;
    }
    ul.skill-progress_bar {
        margin: 0 5%;
    }
    .block-head {
        width: 100%;
    }
}